@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-glass: rgb(255 255 255 / 70%);
    --color-glass-dark: color-mix(in oklch, var(--color-stone-800) 70%, transparent);
}

.link {
    @apply text-blue-600 border-b-2 border-blue-600 transition-all hover:border-transparent hover:text-blue-800 dark:text-blue-400 dark:border-blue-400 dark:hover:text-blue-600
}