@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-glass: rgb(255 255 255 / 70%);
    --color-glass-dark: color-mix(in oklch, var(--color-stone-800) 70%, transparent);
}

.link {
    color: var(--color-blue-600);
    border-bottom: 2px solid var(--color-blue-600);
    transition: all 0.2s;
}

.link:hover {
    color: var(--color-blue-800);
    border-bottom: 2px solid transparent;
}

.dark.link {
    color: var(--color-blue-500);
    border-bottom: 2px solid var(--color-blue-500);
}